<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ imgurl }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="{% if post is defined %}post-heading{% else %} site-heading{% endif %}">
                    <h1>{{ herotitle }}</h1>
                    <h2 class="subheading">{{ herosubtitle }}</h2>

                    {% if post is defined %}
                    <span class="meta">Posté par
                            <span>{{ post.author }}</span>
                            le {{ post.date_update|date("d/m/Y", "Europe/Paris") }}
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
