{% if posts != null %}
    {% for post in posts %}
        <div class="row post-preview py-4" id="post-{{ post.id_post }}">
            <div class="col-md-4 d-none d-md-block">
                <img src="./img/posts_headers/post_{{ post.id_post }}.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-12 col-md-8">
                <a href="{{ url.posts_list }}/{{ post.id_post }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.intro|raw }}
                    </h3>
                </a>
                <p class="post-meta">Posté par
                    <span>{{ post.author }}</span>
                    le {{ post.date_update|date("d/m/Y", "Europe/Paris") }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}

{% else %}
    <p class="text-center alert alert-warning">Il n'y a a pas encore d'articles</p>
{% endif %}