{% extends 'layout.twig' %}

{% block head %}
    <title>{{article.title|capitalize}}</title>
{% endblock %}

{% block content %}

<section class="site-section">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-up">
      <div class="col-lg-6 text-center heading-section mb-5">
        <div class="code-icon">
          <span class="icon-code"></span>
        </div>
        <h2 class="text-black mb-2">{{ article.title }}</h2>
        <p>{{article.date_update}}</p>
        <p>{{article.intro}}</p>        
      </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="{{ post_img_url }}" alt="post {{ article.id_article }}" class="img-fluid">
        </div>
        <div class="article-content col-lg-8">
            {{article.content|raw}}
        </div>
    </div>   
  </div>
</section>

{% endblock %}

