{% extends 'layout.twig' %}

{% block head %}
    <title>{{ post.title|capitalize }}</title>
{% endblock %}

{% block content %}

    <header class="masthead" style="background-image: url('{{ post.img_url }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ post.title|raw }}</h1>
                        <h2 class="subheading">{{ post.intro|raw }}</h2>
                        <span class="meta">Posté par
                            <span>{{ post.author }}</span>
                            le {{ post.date_update|date("d/m/Y", "Europe/Paris") }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <article>
                    {{ post.content|raw }}
                </article>
                <hr>
                <div id="comments" class="mt-5">
                    {% if comments is not empty %}
                        <div class="comments-container">
                            <h2 class="section-heading mb-3">Commentaires sur cet article</h2>
                            {% for comment in comments %}
                                <div class="row">
                                    <div class="col-lg-9 col-12">
                                        <div class="py-3 comment">
                                            <div class="comment-heading">
                                                <div class="meta">
                                                    <div class="title h5">
                                                        <b>{{ comment.author }}</b>
                                                        a écrit un commentaire le {{ comment.date_update|date("d/m/Y") }}:
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-description text-muted pl-3">
                                                <p class="my-1">{{ comment.comment }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="row" id="comment-add">
                        <div class="col-12 col-lg-9">
                            <form method="post" action="{{ actionComment }}" class="mt-5 pt-3 border-top">
                                {% for field in commentForm %}
                                    <div class="form-group">{{ field|raw }}</div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
