{% extends 'layout.twig' %}

{% block head %}
    <title>{{ post.title|capitalize }}</title>
{% endblock %}

{% block content %}
    {% set herotitle = post.title|raw %}
    {% set herosubtitle = post.subtitle|raw %}
    {% set imgurl = post.img_url %}
    {% set author = post.author %}
    {% set date = post.date_update|date("d/m/Y", "Europe/Paris") %}
    {% include '_partials/hero-section.twig' %}

    <!-- Post Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <article>
                    {{ post.content|raw }}
                </article>
                <hr>
                <div id="comments" class="mt-5">
                    {% if comments is not empty %}
                        <div class="comments-container">
                            <h2 class="section-heading mb-3">Commentaires sur cet article</h2>
                            {% for comment in comments %}
                                <div class="row">
                                    <div class="col-lg-9 col-12">
                                        <div class="py-3 comment">
                                            <div class="comment-heading">
                                                <div class="meta">
                                                    <div class="title h5">
                                                        <b>{{ comment.author }}</b>
                                                        a écrit un commentaire le {{ comment.date_update|date("d/m/Y") }}:
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-description text-muted pl-3">
                                                <p class="my-1">{{ comment.comment }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="row" id="comment-add">
                        <div class="col-12 col-lg-9">
                            <form method="post" action="{{ actionComment }}" class="mt-5 pt-3">
                                {% for formField in commentForm %}
                                    <div class="control-group">
                                        <div class="form-group controls floating-label-form-group">
                                            <div>{{ formField|raw }}</div>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
