    <div id="comment-{{ comment.id_comment }}">
        <div class="card card-white comment p-3">
            <div class="comment-heading">
                <div class="float-left meta">
                    <div class="title h5">
                        <a href="#"><b>{{ comment.author }}</b></a>
                        made a comment.
                    </div>
                    <h6 class="text-muted time">{{ comment.date_update }}</h6>
                </div>
            </div>
            <div class="comment-description">
                <p>{{ comment.comment }}</p>
            </div>
            {% if is_admin %}
                {% if comment.active == 1 %}
                    <a href="{{ admin_url.base_url }}/activation-commentaire/{{ comment.id_comment }}"
                       class="mb-2 comment-activation btn btn-warning">Desactiver</a>
                {% else %}
                    <a href="{{ admin_url.base_url }}/activation-commentaire/{{ comment.id_comment }}"
                       class="mb-2 comment-activation btn btn-success">Activer</a>
                {% endif %}
            {% endif %}

            {% if user_id == comment.id_user or is_admin %}
                <a href="{{ admin_url.base_url }}/modifier-commentaire/{{ comment.id_comment }}"
                   class="mb-2 btn btn-secondary">Modifier
                    le commentaire</a>

                <button type="button" class="mb-2 js-confirm-delete btn btn-danger"
                        data-href="{{ admin_url.base_url }}/supprimer-commentaire/{{ comment.id_comment }}"
                        data-toggle="modal"
                        data-target="#confirm-delete" class="btn btn-danger">Supprimer
                    le commentaire
                </button>
            {% endif %}
        </div>
    </div>
