<button class="position-absolute btn btn-outline-primary d-block d-md-none menu-toggle" id="menu-toggle"><span
            class="fa fa-arrow-left"></span></button>

<div class="sidebar-heading text-uppercase text-bold text-center">
    <p><span class="d-block mb-2 fa fa-tools"></span>Dashboard</p>
</div>
<div class="list-group list-group-flush">
    <a href="{{ admin_url.base_url }}" class="list-group-item list-group-item-action bg-light">
        <span class="fas fa-list mr-2"></span>Liste des articles
    </a>
    <a href="{{ admin_url.base_url }}/ecrire-un-article" class="list-group-item list-group-item-action bg-light">
        <span class="fas fa-edit mr-2"></span>Ecrire un article
    </a>
    <a href="{{ admin_url.base_url }}/utilisateurs/{{ user_id }}"
       class="list-group-item list-group-item-action bg-light">
        <span class="fas fa-user mr-2"></span>Mon profil
    </a>
    {% if is_admin %}
        <a href="{{ admin_url.base_url }}/utilisateurs" class="list-group-item list-group-item-action bg-light">
            <span class="fas fa-users mr-2"></span>Utilisateurs
        </a>
        <li class="list-group-item list-group-item-action bg-light">
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="list-group-item-action dropdown-toggle"><span
                        class="fas fa-check mr-2"></span>A valider</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li class="pl-4 py-2">
                    <a href="{{ admin_url.base_url }}/commentaires-a-valider"
                       class="list-group-item-action bg-light">
                        <span class="fas fa-arrow-right mr-2"></span>Commentaires
                    </a>
                </li>
                <li class="pl-4 py-2">
                    <a href="{{ admin_url.base_url }}/articles-a-valider"
                       class="list-group-item-action bg-light">
                        <span class="fas fa-arrow-right mr-2"></span>Articles
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}

    <a href="{{ url.base_url }}" class="list-group-item list-group-item-action bg-light">Retour au site <span
                class="fas fa-arrow-left ml-2"></span></a>


</div>