{% extends 'admin/layout.twig' %}

{% block head %}
    <title>{{ post.title|capitalize }}</title>
{% endblock %}

{% block content %}

    <section class="post-toolbar mb-5">
        <div class="container">
            <div class="post-toolbar-btns text-right">
                {% if is_admin %}
                    {% if post.active == 1 %}
                        <a href="{{ admin_url.base_url }}/activation-article/{{ post.id_post }}"
                           class="post-activation btn btn-warning">Desactiver</a>
                    {% else %}
                        <a href="{{ admin_url.base_url }}/activation-article/{{ post.id_post }}"
                           class="post-activation btn btn-success">Activer</a>
                    {% endif %}
                {% endif %}
                <a href="{{ admin_url.base_url }}/modifier-article/{{ post.id_post }}" class="btn btn-secondary">Modifier
                    l'article</a>

                <button type="button" class="js-confirm-delete btn btn-danger"
                        data-href="{{ admin_url.base_url }}/supprimer-article/{{ post.id_post }}" data-toggle="modal"
                        data-target="#confirm-delete" class="btn btn-danger">Supprimer
                    l'article
                </button>
            </div>
        </div>
    </section>

    <section class="site-section">
        <div class="container">
            <div class="row justify-content-center post-header">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <div class="code-icon">
                        <span class="icon-code"></span>
                    </div>
                    <h2 class="text-black mb-2">{{ post.title|raw }}</h2>
                    <p>
                        <span class="mr-3">{{ post.author }}</span><span>{{ post.date_update|date("d/m/Y") }}</span>
                    </p>
                    <p>{{ post.intro|raw }}</p>
                </div>
                <div class="col-lg-6 text-right pr-0 pl-0">
                    <img src="{{ post.img_url }}" alt="post {{ post.id_post }}" class="img-fluid">
                </div>
            </div>

            <div class="row">
                <div class="post-content">
                    {{ post.content|raw }}
                </div>
            </div>
            {% if comments is not empty %}
                <div id="comments" class="mt-5 col-12 col-lg-12">
                    <div class="comments-container">
                        <h2 class="text-black mb-2">Commentaires sur cet article</h2>
                        <div class="row">
                            {% for comment in comments %}
                                <div class="col-12 col-lg-8 mb-3">
                                    {% include 'admin/_partials/comments.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>


{% include 'admin/partials/delete-confirm-modal' %}

{% endblock %}
