{% extends 'admin/layout.twig' %}

{% block head %}
    <title>Utilisateurs</title>
{% endblock %}

{% block pagetitle %} Profil utilisateur {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <p class="display-4">{{ user.username }}</p>
                    <span class="alert alert-{% if user.verified %}success{% else %}warning{% endif %}">{% if user.verified %}Vérifié{% else %}Non vérifié{% endif %}</span>
                </div>
                {% if is_admin or user.id_user == user_id %}
                    <p>
                        <a href="{{ admin_url.base_url }}/modifier-utilisateur/{{ user.id_user }}"
                           class="btn btn-warning">Modifier</a>
                        <button type="button" class="js-confirm-delete btn btn-danger"
                                data-href="{{ admin_url.base_url }}/supprimer-utilisateur/{{ user.id_user }}"
                                data-toggle="modal"
                                data-target="#confirm-delete" class="btn btn-danger">Supprimer
                        </button>
                    </p>
                {% endif %}
            </div>
            <div class="col d-flex align-items-center">
                <ul>
                    <li>
                        Email: <strong>{{ user.email }}</strong>
                    </li>
                    <li>
                        Role: <strong>{{ user.role }}</strong>
                    </li>
                    <li>
                        Dernière connexion: <strong>{{ user.last_login }}</strong>
                    </li>
                    <li>
                        Enregistré le: <strong>{{ user.registered }}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% include 'admin/_partials/delete-confirm-modal.twig' %}


{% endblock %}